html,body {
	height: 100%;
    background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: transparent;
}

body.create-apuesta {
	background-color: #1a1a1bc3;
	color: white;
	font-size: 14px;
    background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 0 4px 8px rgba(243, 6, 6, 0.482);
}

.create-apuesta .brand {
	width: 120px;
	height: 120px;
	overflow: hidden;
	border-radius: 50%;
	margin: 20px auto;
	box-shadow: 0 4px 8px rgba(243, 6, 6, 0.482);
	position: relative;
	z-index: 1;
    
}

.create-apuesta .brand img {
	width: 100%;
    height: 80%;
  
}


.create-apuesta .card-wrapper {
	width: 400px;
    
}

.create-apuesta .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.create-apuesta .card.fat {
	background-color: rgba(0, 0, 0, 0.621);
	padding: 10px;
}

.create-apuesta .card .card-title {
	margin-bottom: 30px;
}

.create-apuesta .form-control {
	border-width: 2.3px;
}

.create-apuesta .form-group label {
	width: 100%;
}

.create-apuesta .btn.btn-block {
	padding: 12px 10px;
}

.create-apuesta .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.create-apuesta .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.create-apuesta .card.fat {
		padding: 0;
	}

	.create-apuesta .card.fat .card-body {
		padding: 15px;
	}
}